<div class="cover mb-3 d-flex align-items-end justify-content-start">
  <div class="text-white">
    <h1 class="home-title">Save your</h1>
    <h1 class="home-title">favorites movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container py-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0 list-cards-title">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat new-list-index" %>
  </div>
  <div class="row indexlist-cardsrow-container">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 shadow listindex-card-animation">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category indexlist-listcard" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("default.jpg") %>)">
            <h2 class="list-name"><%= list.name %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
