// Style of lists#index

.home-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 94px;
  font-weight: bold;
  text-shadow: 4px 4px rgb(27, 27, 27);
  margin-left: 44px;
  margin-bottom: 5px;
}




// Style of lists#show
