
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
h1 {
  padding: 60px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    // 0 0 92px #0fa,
    // 0 0 102px #0fa,
}

.banner-img {
  background-image: url(https://images.unsplash.com/photo-1518043129420-ed9d4efcdcc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
