// colors theme=
//  black = #0c0f0a
//  white = fffffff
//  green = ?
//  blue = ?
//  purple = ?



body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;

}

// .card-item {
//   margin: 0;
//   padding: 0;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   margin: 3rem 12rem;
//   background: rgb(204, 203, 203);
//   border-radius: 10px;
//   height: 600px;
//   align-items: center;
// }


// h1 {
//   padding: 60px;
//   color: #fff;
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px #fff,
//     0 0 21px #fff,
//     0 0 42px #0fa,
//     0 0 82px #0fa,
//     // 0 0 92px #0fa,
//     // 0 0 102px #0fa,
// }
