.home-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 94px;
  font-weight: bold;
  text-shadow: 4px 4px rgb(27, 27, 27);
  margin-left: 44px;
  margin-bottom: 5px;
}

.list-cards-title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #5D565D;
  font-size: 40px;
}


.new-list-index {
  font-family: 'Teko', sans-serif;
  background-color: #1EDD88;
  font-size: 24px;
  padding: 5px 20px;
}
