.home-title {
  font-family: 'Teko', sans-serif;
  font-size: 104px;
  font-weight: bold;
  text-shadow: 6px 6px rgb(27, 27, 27);
  margin-left: 44px;
  margin-bottom: 5px;
  line-height: 80%;
}

.list-cards-title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #5D565D;
  font-size: 40px;
}

.list-name {
  font-family: 'Teko', sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 4px 4px rgb(27, 27, 27);
}

.new-list-index {
  font-family: 'Teko', sans-serif;
  background-color: #1EDD88;
  font-size: 24px;
  padding: 5px 20px;
}

.indexlist-listcard {
  border-radius: 5px;
}


//////////////// media /////////////////////

@media only screen and (max-width: 800px) {
  .home-title {
    font-size: 74px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .home-title {
    font-size: 64px;
    margin-left: 20px;
    text-shadow: 4px 4px rgb(27, 27, 27);
  }
}

@media only screen and (max-width: 430px) {
  .home-title {
    font-size: 54px;
    margin-left: 12px;
    text-shadow: 4px 4px rgb(27, 27, 27);
  }
}
