@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

.home-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 94px;
  font-weight: bold;
  text-shadow: 4px 4px rgb(27, 27, 27);
  margin-left: 44px;
  margin-bottom: 5px;
}

.list-cards-title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: rgb(74, 74, 74);
  font-size: 40px;
}


.new-list-index {
  background-color: #3ea853;
}
