.form {
  width: 60%;
}

.newlist-title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #5D565D;
  font-size: 40px;
}

.newlist-buttons {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  padding: 5px 20px;
}

.back-button {
  background-color: #5D565D;
}



//////////////// media  ////////////////////

@media only screen and (max-width: 800px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .form {
    width: 80%;
  }
}

@media only screen and (max-width: 335px) {
  .listnew-buttons-line {
    display: block !important;
  }
  .newlist-creatlist-btn {
    font-size: 29px !important;
    padding: 0 20px;
  }
}
