.form {
  width: 60%;
}

.newlist-title {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  color: #5D565D;
  font-size: 40px;
}

.newlist-buttons {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

.back-button {
  background-color: #5D565D;
}
