.list-name-show {
  font-family: 'Teko', sans-serif;
  font-size: 54px;
}

.showlist-addmovie-btn {
  margin-right: 5px;
}

.showlist-btn {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  padding: 5px 20px;
}

.listshow-moviecard {
  border-radius: 8px;
}

.listshow-moviecard img {
  border-radius: 5px;
}

.showlist-moviecount {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  padding: 3px 15px;
}

.showlist-movietitle {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.showlist-movieinfo {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.showlist-moviecomments {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}


.showlist-deletemovie-text {
  font-family: 'Teko', sans-serif;
  font-size: 16px;
  padding: 0px 10px;
  background-color: red;
  border-radius: 5px;
}

.showlist-reviewtitle {
  font-family: 'Teko', sans-serif;
  font-size: 32px;
  margin-top: 10px;
}

.showlist-reviewtime {
  font-family: 'Roboto', sans-serif;
}

.showlist-reviewcontent {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.showlist-addreview-banner {
  border-radius: 8px;
}

.showlist-addreview-title {
  font-family: 'Teko', sans-serif;
  font-size: 26px;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

abbr {
  display: none;
}

.form-control {
  border-radius: 5px;
}

.showlist-newreview-btn {
  font-family: 'Teko', sans-serif;
  background-color: #1EDD88;
  font-size: 22px;
  padding: 0px 15px;
}



//////////////// media ////////////////////

@media only screen and (max-width: 365px) {
  .showlist-buttons-line {
    display: block !important;
  }
}
