<div class="container">
  <div class="nav-link">
    <ul>
      <li><a href="#">MovieList</a></li>
      <li><a href="#">Lists</a></li>
      <li><a href="#">Create list</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>


  <div class="cards">
    <div class="card-item">
      <div>
        <h3>Card 1</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi tenetur excepturi eligendi, aut at sed delectus, dolores fuga iure quos, placeat qui? Ducimus eveniet ratione labore adipisci distinctio esse odit.</p>
      </div>
      <img src="https://images.unsplash.com/photo-1607376995899-383532a918b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
    </div>

    <%# <div class="card-item">
      <img src="https://images.unsplash.com/photo-1607490040458-10e379cfa700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <div>
        <h3>Card 2</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum provident ducimus delectus optio omnis explicabo a commodi at, dolore, laudantium ullam earum beatae doloremque tempore atque soluta autem obcaecati? Culpa.</p>
      </div>
    </div>

    <div class="card-item">
      <div>
        <h3>Card 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia explicabo, error distinctio non expedita fuga labore delectus magnam dolorem nihil facere iusto porro, ut numquam quam quibusdam, asperiores ipsum molestias!</p>
      </div>
      <img src="https://images.unsplash.com/photo-1596146828022-82c7afcf3b3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80" alt="">
    </div> %>


  </div>
</div>
