.navbar-movie-list {
  justify-content: space-between;
  background: #fff;
}

.navbar-movie-list .navbar-collapse {
  flex-grow: 0;
}

.navbar-movie-list .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  filter: invert(2%) sepia(2%) saturate(2949%) hue-rotate(251deg) brightness(30%) contrast(98%);
}
.logo:hover {
  filter: invert(2%) sepia(2%) saturate(2949%) hue-rotate(251deg) brightness(60%) contrast(98%);
  transition: 0.5s;
}


// .nav-item .active {
//   color: rgb(55, 54, 54);
// }

// .nav-link .active {
//   border: 1px solid rgb(55, 54, 54);
//   margin-left: 5px;
//   border-radius: 3px;
// }

// .nav-link:hover {
//   transition: 0.5s;
//   background-color: rgb(192, 192, 192);
// }


.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(55, 54, 54);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  color: #eeeeee;
  transform: scaleX(1);
  transform-origin: bottom left;
}
