.navbar-movie-list {
  justify-content: space-between;
  background: #fff;
}

.navbar-movie-list .navbar-collapse {
  flex-grow: 0;
}

.logo {
  width: 40px;
  filter: invert(2%) sepia(2%) saturate(2949%) hue-rotate(251deg) brightness(35%) contrast(98%);
}
.logo:hover {
  filter: invert(2%) sepia(2%) saturate(2949%) hue-rotate(251deg) brightness(5%) contrast(98%);
  transition: 0.5s;
}


.navbar-links {
  font-family: 'Teko', sans-serif;
  color: #5D565D;
  font-size: 22px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.navbar-links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5D565D;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links:hover:after {
  color: #eeeeee;
  transform: scaleX(1);
  transform-origin: bottom left;
}

// .nav-link {
//   display: inline-block;
//   position: relative;
// }

// .nav-link:after {
//   content: '';
//   position: absolute;
//   width: 100%;
//   transform: scaleX(0);
//   height: 3px;
//   bottom: 0;
//   left: 0;
//   background-color: rgb(55, 54, 54);
//   transform-origin: bottom right;
//   transition: transform 0.25s ease-out;
// }

// .nav-link:hover:after {
//   color: #eeeeee;
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }
